/*---------------------------
共通
---------------------------*/
@import "_destyle.scss";

body {
  font-size: 16px;
  line-height: 1.6;
  color: #000;
  font-family: YuGothic, "游ゴシック", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    sans-serif;
  font-style: normal;
  font-weight: normal;
}

/*---------------------------
PC
---------------------------*/
@media print, screen and (min-width: 768px) {
  #wrapper {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
  }

  main {
    width: 70%;
  }

  aside {
    width: 25%;
  }

  .container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  /*h1 ここから*/
  .elem_ttl {
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-bottom: 1.5em;
  }
  /*h1 ここまで*/

  /*サイドバーメニュー ここから*/
  .side_menu {
    padding-left: 1.5em;
    li {
      list-style: disc;

      ul {
        padding-left: 1.5em;
      }
    }
  }
  /*サイドバーメニュー ここまで*/

  /*参考スタイル ここから*/
  .reference {
    padding: 3em 0;

    .reference_ttl {
      border-bottom: 1px solid #000;
      margin-bottom: 7px;
    }

    .reference_li {
      padding-left: 1.5em;

      li {
        list-style: disc;

        a {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  /*参考スタイル ここまで*/
}
/*---------------------------
SP
---------------------------*/
@media screen and (max-width: 767px) {
  #wrapper {
    margin-top: 3em;
  }

  .container {
    width: calc(100% - 30px);
  }

  /*h1 ここから*/
  .elem_ttl {
    font-weight: bold;
    border-bottom: 1px solid #000;
    margin-bottom: 1.5em;
  }
  /*h1 ここまで*/

  /*サイドバーメニュー ここから*/
  .side_menu {
    padding-left: 1.5em;
    li {
      list-style: disc;

      ul {
        padding-left: 1.5em;
      }
    }
  }
  /*サイドバーメニュー ここまで*/

  /*参考スタイル ここから*/
  .reference {
    padding: 3em 0;

    .reference_ttl {
      border-bottom: 1px solid #000;
      margin-bottom: 7px;
    }

    .reference_li {
      padding-left: 1.5em;

      li {
        list-style: disc;
      }
    }
  }
  /*参考スタイル ここまで*/
}
