/*
 * ページロード時にメガメニュー・アコーディオンメニューが動くため
 * ロード後jQueryでクラス削除
 */
body.preload {
  #hamburger_menu_canvas .hamburger_menu_canvas_menu {
    transition: none !important;
  }
}

/* ------------------------------------------------------ */

/*ハンバーガーメニュー ここから*/
$menu_btn_with: 50px;
$menu_btn_height: 50px;
$menu_btn_color: rgb(238, 238, 238);
$menu_btn_line_width: 60%;
$menu_btn_line_height: 1px;
$menu_btn_line_color: #333;
$open_class: ".is_opened";

$menu_canvas_width: 80%;
$menu_canvas_height: 100vh;

$menu_off_canvas_color: rgba(#333, 0.7);

/* ハンバーガーメニューボタン ここから*/
#hamburger_menu_btn {
  position: fixed;
  background-color: $menu_btn_color;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: $menu_btn_with;
  padding: $menu_btn_height/2 0;
  z-index: 3;

  span {
    background-color: $menu_btn_line_color;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: $menu_btn_line_width;
    height: $menu_btn_line_height;
  }

  .menu_btn_top {
    top: 30%;
  }

  .menu_btn_middle {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .menu_btn_bottom {
    bottom: 30%;
  }

  /* ページロード時アニメーション ここから*/
  .menu_btn_top {
    animation: menu_btn_top 0.75s forwards;
    @keyframes menu_btn_top {
      0% {
        transform: rotate(45deg);
        top: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      50% {
        transform: rotate(0);
        top: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      100% {
        transform: rotate(0);
        top: 30%;
      }
    }
  }

  .menu_btn_middle {
    transition: all 0.25s 0.25s;
    opacity: 1;
  }

  .menu_btn_bottom {
    animation: menu_btn_bottom 0.75s forwards;
    @keyframes menu_btn_bottom {
      0% {
        transform: rotate(-45deg);
        bottom: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      50% {
        transform: rotate(0);
        bottom: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      100% {
        transform: rotate(0);
        bottom: 30%;
      }
    }
  }
  /* ページロード時アニメーション ここまで*/

  /* ボタン押下時アニメーション ここから*/
  &#{$open_class} {
    .menu_btn_top {
      animation: opened_menu_btn_top 0.75s forwards;
      @keyframes opened_menu_btn_top {
        0% {
          transform: rotate(0);
          top: 30%;
        }
        50% {
          transform: rotate(0);
          top: calc(50% - (#{$menu_btn_line_height} / 2));
        }
        100% {
          transform: rotate(45deg);
          top: calc(50% - (#{$menu_btn_line_height} / 2));
        }
      }
    }

    .menu_btn_middle {
      opacity: 0;
    }

    .menu_btn_bottom {
      animation: opened_menu_btn_bottom 0.75s forwards;
      @keyframes opened_menu_btn_bottom {
        0% {
          transform: rotate(0);
          bottom: 30%;
        }
        50% {
          transform: rotate(0);
          bottom: calc(50% - (#{$menu_btn_line_height} / 2));
        }
        100% {
          transform: rotate(-45deg);
          bottom: calc(50% - (#{$menu_btn_line_height} / 2));
        }
      }
    }
  }
  /* ボタン押下時アニメーション ここまで*/
}

/* ハンバーガーメニューボタン ここまで*/

/* ハンバーガーメニューキャンバス ここから*/
#hamburger_menu_canvas {
  /* オフキャンバス ここから */
  .hamburger_menu_canvas_off {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: $menu_off_canvas_color;
    opacity: 0;
    visibility: hidden;
  }

  &#{$open_class} {
    .hamburger_menu_canvas_off {
      opacity: 1;
      visibility: visible;
    }
  }
  /* キャンバス ここまで */

  .hamburger_menu_canvas_menu {
    position: fixed;
    top: 0;
    z-index: 3;
    overflow-y: scroll;
    padding: 1em 0;
    width: $menu_canvas_width;
    height: $menu_canvas_height;
    background-color: #ccc;
  }

  /* フェードイン ここから*/
  &.canvas_fede_in {
    .hamburger_menu_canvas_menu {
      left: 0;
      opacity: 0;
      visibility: hidden;
    }

    &#{$open_class} {
      .hamburger_menu_canvas_menu {
        transition: all 0.3s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
  /* フェードイン ここまで*/

  /* スライドイン 上から ここから*/
  &.canvas_slide_in_from_top {
    .hamburger_menu_canvas_menu {
      left: 0;
      transform: translateY(-100%);
      transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &#{$open_class} {
      .hamburger_menu_canvas_menu {
        transform: translateY(0);
      }
    }
  }
  /* スライドイン 上から ここまで*/

  /* スライドイン 左から ここから*/
  &.canvas_slide_in_from_left {
    .hamburger_menu_canvas_menu {
      left: 0;
      transform: translateX(-100%);
      transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &#{$open_class} {
      .hamburger_menu_canvas_menu {
        transform: translateX(0);
      }
    }
  }
  /* スライドイン 左から ここまで*/

  /* スライドイン 右から ここから*/
  &.canvas_slide_in_from_right {
    .hamburger_menu_canvas_menu {
      right: 0;
      transform: translateX(100%);
      transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &#{$open_class} {
      .hamburger_menu_canvas_menu {
        transform: translateX(0);
      }
    }
  }
  /* スライドイン 右から ここまで*/
}
/* ハンバーガーメニューキャンバス ここまで*/

/* ハンバーガーメニュー内 ここから*/
#hamburger_menu_canvas {
  .hamburger_menu_canvas_menu {
    .menu_animation_item {
      transform: translateX(-200px);
      transition: all 0.2s;
      opacity: 0;
    }
  }

  &#{$open_class} {
    .hamburger_menu_canvas_menu {
      ul li {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
/* ハンバーガーメニュー内 ここまで*/

/*ハンバーガーメニュー ここまで*/
