@charset "UTF-8";
/**
 * bodyタグにwidth: 100%;を付与すること
 * 付与しないと、スクロール無効化が動かない
 */
body {
  width: 100%;
}

/*ハンバーガーメニュー ここから*/
#hamburger_menu .menu_btn {
  position: fixed;
  background-color: #eeeeee;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: 50px;
  padding: 25px 0;
  z-index: 3;
}

#hamburger_menu .menu_btn:hover {
  background-color: #cecccc;
}

#hamburger_menu .menu_btn span {
  background-color: #333;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  height: 1px;
}

#hamburger_menu .menu_btn .menu_btn_top {
  top: 30%;
}

#hamburger_menu .menu_btn .menu_btn_middle {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

#hamburger_menu .menu_btn .menu_btn_bottom {
  bottom: 30%;
}

#hamburger_menu .hamburger_menu_body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  overflow-y: scroll;
  padding: 1em 0;
  width: 100%;
  height: 100vh;
  background-color: #ccc;
}

#hamburger_menu .menu_btn .menu_btn_top {
  -webkit-animation: menu_btn_top 0.75s forwards;
          animation: menu_btn_top 0.75s forwards;
}

@-webkit-keyframes menu_btn_top {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 50%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 30%;
  }
}

@keyframes menu_btn_top {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 50%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 30%;
  }
}

#hamburger_menu .menu_btn .menu_btn_middle {
  -webkit-transition: all 0.25s 0.25s;
  transition: all 0.25s 0.25s;
  opacity: 1;
}

#hamburger_menu .menu_btn .menu_btn_bottom {
  -webkit-animation: menu_btn_bottom 0.75s forwards;
          animation: menu_btn_bottom 0.75s forwards;
}

@-webkit-keyframes menu_btn_bottom {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 50%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 30%;
  }
}

@keyframes menu_btn_bottom {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 50%;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 30%;
  }
}

#hamburger_menu .menu_btn.is_opened .menu_btn_top {
  -webkit-animation: opened_menu_btn_top 0.75s forwards;
          animation: opened_menu_btn_top 0.75s forwards;
}

@-webkit-keyframes opened_menu_btn_top {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 30%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 50%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
}

@keyframes opened_menu_btn_top {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 30%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    top: 50%;
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }
}

#hamburger_menu .menu_btn.is_opened .menu_btn_middle {
  opacity: 0;
}

#hamburger_menu .menu_btn.is_opened .menu_btn_bottom {
  -webkit-animation: opened_menu_btn_bottom 0.75s forwards;
          animation: opened_menu_btn_bottom 0.75s forwards;
}

@-webkit-keyframes opened_menu_btn_bottom {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 30%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 50%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }
}

@keyframes opened_menu_btn_bottom {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 30%;
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    bottom: 50%;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 50%;
  }
}

/*ハンバーガーメニュー ここまで*/
/*# sourceMappingURL=styles.css.map */