/*ハンバーガーメニュー ここから*/
$menu_btn_with: 50px;
$menu_btn_height: 50px;
$menu_btn_color: rgb(238, 238, 238);
$menu_btn_line_width: 60%;
$menu_btn_line_height: 1px;
$menu_btn_line_color: #333;
$open_class: ".is_opened";

$menu_canvas_width: 100%;
$menu_canvas_height: 100vh;

$menu_off_canvas_color: transparent;

/* ハンバーガーメニューボタン ここから*/
#hamburger_menu_btn {
  position: fixed;
  background-color: $menu_btn_color;
  transition: all 0.2s;
  cursor: pointer;
  top: 20px;
  right: 20px;
  width: $menu_btn_with;
  padding: $menu_btn_height/2 0;
  z-index: 3;

  span {
    background-color: $menu_btn_line_color;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: $menu_btn_line_width;
    height: $menu_btn_line_height;
  }

  .menu_btn_top {
    top: 30%;
  }

  .menu_btn_middle {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }

  .menu_btn_bottom {
    bottom: 30%;
  }
}
/* ハンバーガーメニューボタン ここまで*/

/* ハンバーガーメニューキャンバス ここから*/
#hamburger_menu_canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  overflow-y: scroll;
  padding: 1em 0;
  width: $menu_canvas_width;
  height: $menu_canvas_height;
  background-color: #ccc;
}

#hamburger_menu_off_canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: $menu_off_canvas_color;
}
/* ハンバーガーメニューキャンバス ここまで*/

/* ハンバーガーメニューボタン：ページロード時アニメーション ここから*/
#hamburger_menu_btn {
  .menu_btn_top {
    animation: menu_btn_top 0.75s forwards;
    @keyframes menu_btn_top {
      0% {
        transform: rotate(45deg);
        top: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      50% {
        transform: rotate(0);
        top: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      100% {
        transform: rotate(0);
        top: 30%;
      }
    }
  }

  .menu_btn_middle {
    transition: all 0.25s 0.25s;
    opacity: 1;
  }

  .menu_btn_bottom {
    animation: menu_btn_bottom 0.75s forwards;
    @keyframes menu_btn_bottom {
      0% {
        transform: rotate(-45deg);
        bottom: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      50% {
        transform: rotate(0);
        bottom: calc(50% - (#{$menu_btn_line_height} / 2));
      }
      100% {
        transform: rotate(0);
        bottom: 30%;
      }
    }
  }
}
/* ハンバーガーメニューボタン：ページロード時アニメーション ここまで*/

/* ハンバーガーメニューボタン：ボタン押下時アニメーション ここから*/
#hamburger_menu_btn {
  &#{$open_class} {
    .menu_btn_top {
      animation: opened_menu_btn_top 0.75s forwards;
      @keyframes opened_menu_btn_top {
        0% {
          transform: rotate(0);
          top: 30%;
        }
        50% {
          transform: rotate(0);
          top: calc(50% - (#{$menu_btn_line_height} / 2));
        }
        100% {
          transform: rotate(45deg);
          top: calc(50% - (#{$menu_btn_line_height} / 2));
        }
      }
    }

    .menu_btn_middle {
      opacity: 0;
    }

    .menu_btn_bottom {
      animation: opened_menu_btn_bottom 0.75s forwards;
      @keyframes opened_menu_btn_bottom {
        0% {
          transform: rotate(0);
          bottom: 30%;
        }
        50% {
          transform: rotate(0);
          bottom: calc(50% - (#{$menu_btn_line_height} / 2));
        }
        100% {
          transform: rotate(-45deg);
          bottom: calc(50% - (#{$menu_btn_line_height} / 2));
        }
      }
    }
  }
}
/* ハンバーガーメニューボタン：ボタン押下時アニメーション ここまで*/

/*ハンバーガーメニュー ここまで*/
