@charset "UTF-8";
/**------------------------------------------------------
 * 他サイトに機能を追加する場合はmixin中の記述をコピペする
 *
 * # Slick TOC
 * ## 機能一覧
 * - アスペクト調整
 * - ページングアロー
 * - ページングドット
 * - ページング画像
 * ## 各スライドショー
 * - ページングアロー・ページングドット
 * - ページング画像
 * - 連動ページング画像
 * - 3つ画像を出し、左右の画像を小さく
 *------------------------------------------------------*/
/**------------------------------------------------------
 * ## 機能一覧
 *------------------------------------------------------*/
/**---------------------------
 * アスペクト調整
*---------------------------*/
/**---------------------------
 * ページングアロー
*---------------------------*/
/**---------------------------
 * ページングドット
*---------------------------*/
/**---------------------------
 * ページング画像
*---------------------------*/
/**---------------------------
 * 3つ画像を出し、左右の画像を小さく
*---------------------------*/
/**------------------------------------------------------
 * ## 各スライドショー
 *------------------------------------------------------*/
/**---------------------------
 * ページングアロー・ページングドット
*---------------------------*/
#slick01 {
  /**
   * アローエリアの高さ
   * - ページングドットがある時にアローが
   *   中央寄せにならない時があるので、この値で調整。
   */
}

#slick01 .slick_items .slick_item .slick_item_inner {
  display: block;
  padding: 30% 0;
}

#slick01 .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 30px;
  height: calc(100% - 27.77px);
  z-index: 1;
}

#slick01 .slick-arrow.prev_arrow {
  left: 0;
}

#slick01 .slick-arrow.prev_arrow span {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 0;
}

#slick01 .slick-arrow.next_arrow {
  right: 0;
}

#slick01 .slick-arrow.next_arrow span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 0;
}

#slick01 .slick-arrow span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 20px;
  height: 20px;
}

#slick01 .slick-dotted.slick-slider .slick-dots {
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#slick01 .slick-dotted.slick-slider .slick-dots li {
  position: relative;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
}

#slick01 .slick-dotted.slick-slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

#slick01 .slick-dotted.slick-slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background-color: #ccc;
  border-radius: 50%;
}

#slick01 .slick-dotted.slick-slider .slick-dots li button:hover, #slick01 .slick-dotted.slick-slider .slick-dots li button:focus {
  outline: none;
}

#slick01 .slick-dotted.slick-slider .slick-dots li button:hover::before, #slick01 .slick-dotted.slick-slider .slick-dots li button:focus::before {
  background-color: #000;
}

#slick01 .slick-dotted.slick-slider .slick-dots li.slick-active button::before {
  background-color: #000;
}

/**---------------------------
 * ページング画像
*---------------------------*/
#slick02 .slick_items .slick_item .slick_item_inner {
  display: block;
  padding: 30% 0;
}

#slick02 .slick-dotted.slick-slider .slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#slick02 .slick-dotted.slick-slider .slick-dots li {
  width: 20%;
  padding: 0.5%;
  cursor: pointer;
}

#slick02 .slick-dotted.slick-slider .slick-dots li.slick-active {
  background-color: #ccc;
}

#slick02 .slick-dotted.slick-slider .slick-dots div {
  width: 20%;
}

/**---------------------------
 * 連動ページング画像
*---------------------------*/
#slick03 .slick_items .slick_item .slick_item_inner {
  display: block;
  padding: 30% 0;
}

/**---------------------------
 * 3つ画像を出し、左右の画像を小さく
*---------------------------*/
#slick04 .slick_items .slick_item .slick_item_inner {
  display: block;
  padding: 30% 0;
}

#slick04 .slick_items {
  /**
     * 左右の画像を両端揃えにしたい場合は下記をコメントアウト
     * ※SP時は中央揃えにする→左右が見えなくなるため
     */
}

#slick04 .slick_items .slick-slide {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  margin: 0 15px;
}

#slick04 .slick_items .slick-current {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#slick04 .slick_items .slick-slide {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

#slick04 .slick_items .slick-current + .slick-slide {
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}
