@charset "UTF-8";
/*------------------------------------------------------
 * アニメーションリスト
 *------------------------------------------------------*/
/*---------------------------
 * スライド
 * @param $elem アニメーションさせる要素
 * @param $wrp_elem 囲う要素
 * @param $translate3d_x X軸でどの方向から表示させるか調整
 * @param $translate3d_y Y軸でどの方向から表示させるか調整
 * @param $s アニメーション表示間隔秒数
 * @param $cubic_bezier_s ペジェ曲線のアニメーション表示間隔秒数
 *---------------------------*/
/*---------------------------
 * フェード
 * @param $elem アニメーションさせる要素
 * @param $translate3d_x X軸でどの方向から表示させるか調整
 * @param $translate3d_y Y軸でどの方向から表示させるか調整
 * @param $s アニメーション表示間隔秒数
 * @param $cubic_bezier_s ペジェ曲線のアニメーション表示間隔秒数
 *---------------------------*/
/*---------------------------
 * 背景色が流れる
 * @param $elem アニメーションさせる要素
 * @param $wrp_elem アニメーションさせる要素の親要素
 * @param $bg_color 背景色
 * @param $bg_direction 背景色：流れる方向
 * @param $elem_translate3d_x 要素：X軸でどの方向から表示させるか調整
 * @param $elem_translate3d_y 要素：Y軸でどの方向から表示させるか調整
 * @param $duration アニメーション表示間隔秒数
 *---------------------------*/
/*---------------------------
 * タイピング表示
 *---------------------------*/
/*------------------------------------------------------
 * 各デモ要素
 *------------------------------------------------------*/
main .sec_demo {
  margin-bottom: 1500px;
  padding: 30px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#area_demo1 {
  /* アニメーション ここから */
  /* アニメーション ここまで */
}

#area_demo1 .area_demo_ttl {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

#area_demo1 .area_demo_body p:not(:last-child) {
  margin-bottom: 15px;
}

#area_demo1 .area_demo_body {
  opacity: 0;
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  will-change: transform;
}

#area_demo1 .area_demo_body.is_animated {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#area_demo1 .demo_row1 {
  overflow: hidden;
}

#area_demo1 .demo_row1 .area_demo_ttl {
  -webkit-transform: translate3d(0, 60px, 0);
          transform: translate3d(0, 60px, 0);
  -webkit-transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  will-change: transform;
  display: block;
}

#area_demo1 .demo_row1 .area_demo_ttl.is_animated {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#area_demo2 {
  /* アニメーション ここから */
  /* アニメーション ここまで */
}

#area_demo2 .area_demo_ttl {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 8px;
}

#area_demo2 .area_demo_body p:not(:last-child) {
  margin-bottom: 15px;
}

#area_demo2 .demo_row1 {
  position: relative;
  overflow: hidden;
}

#area_demo2 .demo_row1 .area_demo_ttl::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.35, 1.24, 0.9, 0.77);
          animation-timing-function: cubic-bezier(0.35, 1.24, 0.9, 0.77);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#area_demo2 .demo_row1 .area_demo_ttl .animate_inner {
  opacity: 0;
  display: block;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 0.48s;
          animation-duration: 0.48s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#area_demo2 .demo_row1 .area_demo_ttl.is_animated::before {
  -webkit-animation-name: bg_extend;
          animation-name: bg_extend;
}

#area_demo2 .demo_row1 .area_demo_ttl.is_animated .animate_inner {
  -webkit-animation-name: slide_to_right;
          animation-name: slide_to_right;
}

@-webkit-keyframes bg_extend {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes bg_extend {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes slide_to_right {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slide_to_right {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#area_demo2 .demo_row2 {
  position: relative;
  overflow: hidden;
}

#area_demo2 .demo_row2 .area_demo_body::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.35, 1.24, 0.9, 0.77);
          animation-timing-function: cubic-bezier(0.35, 1.24, 0.9, 0.77);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#area_demo2 .demo_row2 .area_demo_body .animate_inner {
  opacity: 0;
  display: block;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.48s;
          animation-duration: 0.48s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#area_demo2 .demo_row2 .area_demo_body.is_animated::before {
  -webkit-animation-name: bg_extend;
          animation-name: bg_extend;
}

#area_demo2 .demo_row2 .area_demo_body.is_animated .animate_inner {
  -webkit-animation-name: slide_to_right;
          animation-name: slide_to_right;
}

@keyframes bg_extend {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.001% {
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  100% {
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slide_to_right {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.area_demo3 .area_demo_ttl {
  font-weight: bold;
  margin-bottom: 8px;
}
