/*------------------------------------------------------
 * CSSスライドショー
 *------------------------------------------------------*/
/*---------------------------
 * スライド：横：右に流れる
 *---------------------------*/
@keyframes infinity_flow_to_right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*---------------------------
 * スライド：横：左に流れる
 *---------------------------*/
@keyframes infinity_flow_to_left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*---------------------------
 * スライド：縦：上に流れる
 *---------------------------*/
@keyframes infinity_flow_to_top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/*---------------------------
 * スライド：縦：下に流れる
 *---------------------------*/
@keyframes infinity_flow_to_bottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/*------------------------------------------------------
 * 各デモ要素
 *------------------------------------------------------*/
#demo1.css_slideshow {
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;

  .css_slideshow_items {
    display: flex;
    animation: infinity_flow_to_right 20s infinite linear 0.5s both;

    li {
      width: calc(560px / 3);

      img {
        width: 100%;
      }
    }
  }
}

#demo2.css_slideshow {
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;

  .css_slideshow_items {
    display: flex;
    animation: infinity_flow_to_left 20s infinite linear 0.5s both;

    li {
      width: calc(560px / 3);

      img {
        width: 100%;
      }
    }
  }
}

#demo3.css_slideshow {
  margin-bottom: 15px;
  height: 372px;
  overflow: hidden;

  .css_slideshow_items {
    animation: infinity_flow_to_top 20s infinite linear 0.5s both;

    li {
      height: 124px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

#demo4.css_slideshow {
  margin-bottom: 15px;
  height: 372px;
  overflow: hidden;

  .css_slideshow_items {
    animation: infinity_flow_to_bottom 20s infinite linear 0.5s both;

    li {
      height: 124px;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
