/*---------------------------
PC
---------------------------*/
@media print, screen and (min-width: 768px) {
  .btn {
    text-align: center;
  }
  .btn .btn_inner {
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: 1px solid #000;
    line-height: 1.1;
    padding: 10px 30px 10px 10px;
  }
  .btn .btn_inner::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-width: 5px 0 5px 8.7px;
    right: 10px;
  }
  .btn .btn_inner:hover {
    background-color: #ccc;
  }
  .btn .btn_inner:hover::after {
    right: 5px;
  }
  .btn .btn_str {
    font-weight: bold;
    font-size: 16px;
  }
}

/*---------------------------
SP
---------------------------*/
@media screen and (max-width: 767px) {
  .btn {
    text-align: center;
  }
  .btn .btn_inner {
    display: inline-block;
    position: relative;
    border: 1px solid #000;
    line-height: 1.1;
    padding: 3% 9% 3% 3%;
  }
  .btn .btn_inner::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #000;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-width: 1.25vw 0 1.25vw 2vw;
    right: 7%;
  }
  .btn .btn_str {
    font-weight: bold;
    font-size: 3vw;
  }
}
