@charset "UTF-8";
#wrapper {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

header,
footer {
  padding: 80px;
  text-align: center;
  background-color: #ccc;
  width: 100%;
}

footer {
  position: relative;
}

/**----------------------------------------------------------------------------
 * TOPへ戻るボタン
 *----------------------------------------------------------------------------*/
#arrow_to_top {
  right: 40px;
  bottom: 40px;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#arrow_to_top .arrow_to_top_inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
  display: block;
}

#arrow_to_top .arrow_to_top_inner img {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5%;
  left: 0;
  margin: auto;
}

#arrow_to_top.is_fixed {
  opacity: 1;
  visibility: visible;
}

#arrow_to_top.is_absolute {
  opacity: 1;
  visibility: visible;
  position: absolute;
  bottom: auto;
  top: -20px;
}

/* ----------------------------------------------------------------------------
 * クッキー同意
 *----------------------------------------------------------------------------*/
#area_cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.7);
  padding: 15px 0;
  display: none;
  opacity: 0;
  /* クッキー同意 テキスト ここから */
  /* クッキー同意 テキスト ここまで */
  /* クッキー同意 ボタン ここから */
  /* クッキー同意 ボタン ここまで */
}

#area_cookie.is_show {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: block;
  opacity: 1;
}

#area_cookie .area_cookie_row1 {
  margin-bottom: 5px;
}

#area_cookie .area_cookie_row2 {
  text-align: right;
}

#area_cookie .cookie_txt {
  font-size: 14px;
}

#area_cookie .cookie_txt a {
  text-decoration: underline;
}

#area_cookie .cookie_txt a:hover {
  text-decoration: none;
}

#area_cookie .cookie_agree {
  font-size: 14px;
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 7px 30px;
}
