/*
 * ページロード時にメガメニュー・アコーディオンメニューが動くため
 * ロード後jQueryでクラス削除
 */
body.preload {
  #global_menu .accordion_menu_body,
  #global_menu .mega_menu_body {
    transition: none !important;
  }
}

/*---------------------------
PC
---------------------------*/
@media print, screen and (min-width: 768px) {
  /*エリアヘッダー ここから*/
  #area_header {
    .area_header_inner {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color: #fff;
      position: relative;

      .container {
        .content_width {
          .area_header_row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .area_header_col1 {
              width: 4em;
            }
            .area_header_col2 {
              width: calc(100% - 4em);
            }
          }
        }
      }

      .area_header_logo {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  /*エリアヘッダー ここから*/

  /*エリアヘッダー：スクロール追従 ここから*/
  #area_header {
    //.area_header_wrpの高さ
    height: 75px;

    .area_header_inner {
      &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        z-index: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);

        #global_menu {
          > li {
            .global_menu_name {
              padding: 1em 0;
            }
          }
        }
      }
    }
  }
  /*エリアヘッダー：スクロール追従 ここから*/

  /*グローバルメニュー ここから*/
  #global_menu {
    display: flex;
    justify-content: space-around;

    > li {
      flex: 1 1 auto;

      .global_menu_name {
        display: block;
        padding: 1.5em 0;
        text-align: center;
        cursor: pointer;

        transition: all 0.2s;
      }

      &:not(:last-child) {
        .global_menu_name {
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: 80%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            border-right: 1px dotted #333;
          }
        }
      }
    }

    /*メガメニュー ここから*/
    > .mega_menu {
      .mega_menu_body {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
        padding: 1em 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.9) perspective(1000);
        transform-origin: top center;
        transition: all 0.2s;
      }

      &.is_show {
        .mega_menu_body {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
    }
    /*メガメニュー ここまで*/

    /*アコーディオンメニュー ここから*/
    > li {
      &.accordion_menu {
        position: relative;

        .accordion_menu_body {
          position: absolute;
          top: 90%;
          width: 220px;
          background-color: #ccc;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
          z-index: 1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.2s;

          li {
            a {
              display: block;
              padding: 10px;
              background-color: #ccc;

              &:hover {
                background-color: #eee;
              }
            }

            &:not(:last-child) {
              a {
                border-bottom: 1px dotted #333;
              }
            }
          }
        }

        &.is_show {
          .accordion_menu_body {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }

      &:last-child {
        .accordion_menu_body {
          right: 0;
        }
      }
    }
    /*アコーディオンメニュー ここまで*/
  }
}
