/*---------------------------
PC
---------------------------*/
@media print, screen and (min-width: 768px) {
  /*レイアウト ここから*/
  .post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .post_img {
      width: 49%;
      margin-bottom: 1em;

      .post_img_inner {
        padding: 50% 0;
        width: 100%;
      }
    }
  }
  /*レイアウト ここまで*/
}
/*---------------------------
SP
---------------------------*/
@media screen and (max-width: 767px) {
  /*レイアウト ここから*/
  .post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .post_img {
      width: 100%;
      margin-bottom: 1em;

      .post_img_inner {
        padding: 50% 0;
        width: 100%;
      }
    }
  }
  /*レイアウト ここまで*/
}
