@charset "UTF-8";
/*---------------------------*
 * アコーディオン メニュー
 *---------------------------*/
.accordion_menu {
  margin-bottom: 30px;
}

.accordion_menu > li:not(:last-child) {
  border-bottom: 1px solid #000;
}

.accordion_menu > li > .menu_inner {
  display: block;
  padding: 15px;
  cursor: pointer;
}

.accordion_menu > li .sub_menu {
  padding-left: 30px;
  margin-bottom: 30px;
}

.accordion_menu > li .sub_menu > li:not(:last-child) {
  border-bottom: 1px solid #000;
}

.accordion_menu > li .sub_menu > li > .menu_inner {
  display: block;
  padding: 15px;
}

#menu1 {
  /* プラス・マイナス ここから */
  /* プラス・マイナス ここまで */
  /* 矢印(右)1 ここから */
  /* 矢印(右)1 ここまで */
}

#menu1 > li > span.menu_inner {
  padding-right: 45px;
  position: relative;
}

#menu1 > li > span.menu_inner::before, #menu1 > li > span.menu_inner::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
  right: 12px;
  background-color: #000;
}

#menu1 > li > span.menu_inner::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu1 > li.is_open > span.menu_inner::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#menu1 > li > a.menu_inner {
  padding-right: 60px;
  position: relative;
}

#menu1 > li > a.menu_inner::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 18px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

#menu1 > li > a.menu_inner:hover::after {
  right: 10px;
}

#menu2 {
  /* 矢印(下)1 ここから */
  /* 矢印(下)1 ここまで */
  /* 矢印(右)2 ここから */
  /* 矢印(右)2 ここまで */
}

#menu2 > li > span.menu_inner {
  padding-right: 60px;
  position: relative;
}

#menu2 > li > span.menu_inner::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  right: 17px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7px 0 7px;
  border-color: #000 transparent transparent transparent;
}

#menu2 > li.is_open > span.menu_inner::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#menu2 > li > a.menu_inner {
  padding-right: 60px;
  position: relative;
}

#menu2 > li > a.menu_inner::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  right: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 10px;
  border-color: transparent transparent transparent #000;
}

#menu2 > li > a.menu_inner:hover::after {
  right: 10px;
}

#menu3 {
  /* 矢印(下)1 ここから */
  /* 矢印(下)1 ここまで */
  /* 矢印(右)1 ここから */
  /* 矢印(右)1 ここまで */
}

#menu3 > li > span.menu_inner {
  padding-right: 60px;
  position: relative;
}

#menu3 > li > span.menu_inner::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 18px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#menu3 > li.is_open > span.menu_inner::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

#menu3 > li > a.menu_inner {
  padding-right: 60px;
  position: relative;
}

#menu3 > li > a.menu_inner::after {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 18px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

#menu3 > li > a.menu_inner:hover::after {
  right: 10px;
}
