@charset "UTF-8";
/*タブメニュー ここから*/
#tab_menu .tab_menu_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-bottom: 1px solid #000;
}

#tab_menu .tab_menu_btn li {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 0.5em 0.75em;
  margin-right: 0.5em;
  cursor: pointer;
}

#tab_menu .tab_menu_btn li.active {
  background-color: #000;
  color: #fff;
}

#tab_menu .tab_menu_body_wrp {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  padding: 1em;
}

#tab_menu .tab_menu_body_wrp .tab_menu_body {
  opacity: 0;
  visibility: hidden;
  height: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#tab_menu .tab_menu_body_wrp .tab_menu_body.show {
  opacity: 1;
  visibility: visible;
  height: auto;
}

/*タブメニュー ここまで*/
