/*タブメニュー ここから*/
#tab_menu {
  .tab_menu_btn {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #000;

    li {
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-left: 1px solid #000;
      padding: 0.5em 0.75em;
      margin-right: 0.5em;
      cursor: pointer;

      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .tab_menu_body_wrp {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding: 1em;

    .tab_menu_body {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: opacity 0.2s;

      &.show {
        opacity: 1;
        visibility: visible;
        height: auto;
      }
    }
  }
}
/*タブメニュー ここまで*/
